.profile {
    border-radius: 5px;
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
    color: #7d7e82;
    font-family: sans-serif;
    width: 500px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.description {}

.avatar {
    padding: 5px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid rgb(120, 113, 113);
}

.name {
    color: #101112;
    font-weight: 600;
}

.stats {
    display: flex;
    gap: 60px
}

.info {
    display: flex;
    flex-direction: column;
}

.quantity {
    color: #101112;
    font-weight: 600;
    font-size: 15px;
}